{% extends 'base.html' %}

{% block content %}
    {% load tagging_tags %}

    {% for object in object_list %}
        <div class = "row">
            <div class = "col-md-3"></div>
            <div class = "col-md-6 panel panel-default">

                <div class="card align-self-center" >

                    <img src="{{object.image.url}}" class="card-img-top" >

                    <div class="card-body">
                        <button class="btn btn-primary btn-sm">{{object.author.username}}</button>
                        <p class="card-text">{{object.text}}</p>

                        {% tags_for_object object as tags %}
                        {% if tags %}
                        <p>
                            {% tags_for_object object as tags %}
                            {% for tag in tags %}
                                <a href="{% url 'photo:tagged_photo_list' tag.name %}" >#{{tag.name}}</a> <!-- 해시태그가 없어도 보여줘버림  -->
                            {% endfor %}
                        </p>
                        {% endif %}

                        <a href="{% url 'photo:photo_detail' object.id %}" class="btn btn-outline-primary">Detail</a>
                    </div>
                </div>

            </div>
            <div class = "col-md-3"></div>
        </div>
    {% endfor %}
{% endblock %}
