{% extends 'base.html' %}

{% block content %}


        <div class = "row">
            <div class = "col-md-3"></div>
            <div class = "col-md-6 panel panel-default">

                <form action="" method="post" enctype="multipart/form-data"> <!--enctype="multipart/form-data 이게 빠져있으면 ㅝ가 안된다는것같은-->
                    {{ form.as_p }}
                    {% csrf_token %}

                    <input type="submit" name="Update" class="btn btn-success">
                </form>


                </div>
            </div>
            <div class = "col-md-3"></div>
        </div>

{% endblock %}
