{% extends 'base.html' %}

{% block content %}
    <div class = "row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">

            <div class="alert alert-info">please enter your login infomation.</div>
            <form action="" method="post">
                {{ form.as_p }}
                {% csrf_token %} <!-- 클럽팔찌같은거! csrf공격막기위함-->
                <input type="submit" value="Login" class="btn btn-primary">


            </form>

        </div>
        <div class="col-md-2"></div>

    </div>


{% endblock %}